{% extends "base.html.twig" %}
{% block body %}


<h1>Bonjour {{user.nom}}</h1>
<p>Cliquer<a href="{{url('api_users_patch_collection',{'token':token})}}">ici</a>pour activer votre compte</p>
{% endblock %}
